<footer layout="row" class="footerClass">
  <div>
    <mat-card-title-group>
      <mat-card-title> <p><strong>Meet Our Team:</strong></p></mat-card-title>
    <div class = "contributors">
          <mat-card class="individualContributor">
            <img src="../../assets/defaultman.png" class="card-img-top" alt="..."/>
            <mat-card-content>
              <p> Micheal Ivanov </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="individualContributor">
            <img src="../../assets/defaultman.png" class="card-img-top" alt="..."/>
            <mat-card-content>
              <p> Reecha Khanal </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="individualContributor">
            <img src="../../assets/defaultman.png" class="card-img-top" alt="..."/>
            <mat-card-content>
              <p> Saksham Nagar </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="individualContributor">
            <img src="../../assets/defaultman.png" class="card-img-top" alt="..."/>
            <mat-card-content>
              <p> Sukanth Sundaran </p>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="contact">
      <nav>
        <mat-icon class="contactIcon"> facebook </mat-icon>
        <mat-icon class="contactIcon"> email </mat-icon>
        <mat-icon class="contactIcon"> phone </mat-icon>
      </nav>
      <div> <mat-icon class="contactIcon"> copyright </mat-icon> <a>All rights reserved.</a></div>
    </div>
    </mat-card-title-group>
  </div>
</footer>
