footer {
  background-color: steelblue;
  color:white;
  border-top: 1px solid #bbb;
  text-align: center;
  bottom: 0px;
  position:fixed;
  width: 100%;
}
.contributors{
  float: left;
  padding-left:50px;
  text-align: left;
}

.individualContributor{
  padding-bottom: 5px;
}

.contactIcon{
  padding-left: 15px;
}

.contact{
  padding-top: 55px;
}
