<footer layout="row" class="footerClass">
  <div>
    <div class = "contributors">
      <p>Contributors:</p>
      <ul style="display: block;">

        <div class="individualContributor">
          <span>Micheal Ivanov</span>
        </div>
        <div class="individualContributor">
          <span>Reecha Khanal</span>
        </div>
        <div class="individualContributor">
          <span>Saksham Nagar</span>
        </div>
        <div class="individualContributor">
          <span>Sukanth Sundaran</span>
        </div>
      </ul>
    </div>
    <div class="contact">
      <nav>
        <mat-icon class="contactIcon"> facebook </mat-icon>
        <mat-icon class="contactIcon"> email </mat-icon>
        <mat-icon class="contactIcon"> phone </mat-icon>

      </nav>
    </div>
  </div>
  <mat-icon class="contactIcon"> copyright </mat-icon> <a>All rights reserved.</a>
</footer>
