<mat-toolbar>
    <ul class="topnav">
    <a class = "about" >Homies</a>
  </ul>

</mat-toolbar>


<form class="p-3 mb-2 bg">

  
    <!-- Message input -->
    <div class="form-outline mb-4">
      <textarea class="form-control" id="additionalInfo" rows="4"></textarea>
      <label class="form-label" for="additionalInfo">Additional information</label>
    </div>

   
    <!-- Checkbox -->
    <div class="form-check d-flex  mb-4">
      <input class="form-check-input me-2" type="checkbox" value="" id="rememberPreferences" checked />
      <label class="form-check-label" for="rememberPreferences"> Remember Preferences </label>
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4 justify-content-center" >Save</button>
  </form>