<body style="background-color:#ffffffbc;">
  <div class="wrapper" style="background-color: #ffffff;" rows>
      <form action="">
          <div class="userDetails">
              <h4></h4>
              <section>
                  <div class="form-row" style="background-color: #fbfbfb;"> <input type="text" class="form-control" placeholder="Name"> </div>
                  <div class="form-row"> <input type="text" class="form-control" placeholder="Email"> </div>
                  <div class="form-row"> <input type="text" class="form-control" placeholder="Phone number"> </div>
                  <div class="form-row"> <input type="text" class="form-control" placeholder="Street address"> </div>
                  <div class="form-row"> <input type="text" class="form-control" placeholder="country"> </div>
                  <div class="form-row"> <input type="text" class="form-control" placeholder="zip code"> </div>
                  <div class="form-row" style="margin-bottom: 18px"> <textarea name="" id="" class="form-control" placeholder="Self Description" style="height: 108px"></textarea> </div>
              </section>
          </div>
      </form>
      <mat-card class="individualContributor">
          <img src="../../assets/defaultman.png" class="card-img-top" alt="..."/>
          <mat-card-content>

          </mat-card-content>
        </mat-card>
      <form action="">
          <div id="userPreferences">
              <h4></h4>
              <section>
                  <div class="form-row"> <input type="text" class="form-control" placeholder="Location"> </div>
                  <div class="form-row"> <input type="text" class="form-control" placeholder="zip code"> </div>
                  <div class="form-row"> <input type="text" class="form-control" placeholder="Price"> </div>
                  <div class="form-row"> <input type="text" class="form-control" placeholder="Number of Bedrooms"> </div>
                  <div class="form-row" style="background-color: #fbfbfb;"> <input type="text" class="form-control" placeholder="Available amenities"> </div>
                  <div class="form-row"> <input type="text" class="form-control" placeholder="Number of vacant Bedrooms"> </div>
                  <div class="form-row" style="margin-bottom: 18px"> <textarea name="" id="" class="form-control" placeholder="Place Description" style="height: 108px"></textarea> </div>
              </section>
          </div>
      </form>
  </div>
  <div class = "buttons">
    <button mat-button type="button" class="btn btn-primary btn-left" style="align-items: center;" (click)="onBackClicked()">Go Back</button>
    <button mat-button type="button" class="btn btn-primary btn-right" style="align-items: center;" click="onSaveChanges()">Save Changes</button>
  </div>
</body>
