<ul class="topnav">
  <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <a [routerLink]="['/home']">Home</a>
  </li>
  <li [routerLinkActive]="['active']">
    <a [routerLink]="['/profile']">My Profile</a>
  </li>
  <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <a [routerLink]="['/chat']">Chat</a>
  </li>
  <li class = "about" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <a [routerLink]="['/about']">About</a>
  </li>
</ul>
