<app-navbar></app-navbar>
<body>

<mat-sidenav-container class="chat-container">
  <mat-sidenav class = "chat-history" #sidedrawer mode = "side" opened="">
    Chat History
  </mat-sidenav>
  <mat-sidenav-content class= "chat-content">
    <p style="border: 2px;background-color: blue;color:white; padding: 15px; margin:0px">{{userSentName}}</p>
    <mat-card>
      <title>User Name</title>
      <ul id="messages">
        <li *ngFor="let message of messages">
            <span [innerHTML]="isSystemMessage(message)"></span>
        </li>
      </ul>
      <div class = "send-message">
        <input [(ngModel)]="chatBox" [ngModelOptions]="{standalone: true}" autocomplete="off" class="send-message-input" placeholder="Enter your message"/>
        <button (click)="send()" class="send-message-button" mat-button color="primary">Send</button>
      </div>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>
</body>
