.chat-container{
  padding-left: 10px;
  padding-right: 10px;
}
.chat-history{
  height: 100%;
  width: 40%;
}

.chat-content{
  height: 100%;
  width: 60%;
  margin: 0px;
}

.send-message-button{
  background-color: blue;
  color: white;
  margin: 5px;
}

.send-message-input{
  padding: 10px;
  width: 40%;
}
/* Testing the Chat Functionality*/
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
