<form class="my-form" #loginForm=ngForm (ngSubmit)="Submit()">
  <h3 class="title" style="padding-left: 15px;">LOGIN </h3>
  <div class="container">
    <div class="textcontainer">
      <div class="loginForm">
        <mat-form-field appearance="fill">
          <mat-label for="uname">Username</mat-label>
          <input matInput [formControl]="usernameFormControl" placeholder="Enter Username" name="uname" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label for="psw">Password</mat-label>
          <input matInput [formControl]="passwordFormControl"  [type]="hide ? 'password' : 'text'" placeholder="Enter Password" name="psw" required>
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-card-actions>
          <button class = 'submitButton'mat-raised-button type="submit" [routerLink]="['/home']">Login</button>
        </mat-card-actions>
      </div>
      <mat-label style="float:left;">
        <input mat-input type="checkbox" checked="checked" name="remember" > Remember me
      </mat-label>
      <a class="psw" href="#" style="float: right;">Forgot password? </a>
      <a class="acc" href="/sign_up" style="float: right;">Don't have an account?</a>
    </div>
    <div class="imgcontainer">
      <img src="../../assets/img_Homies_logo.png" alt="Homies_logo" class="Homies_logo">
    </div>
  </div>
</form>
<router-outlet></router-outlet>
