.title{
  text-align: center;
  color:#6A1B9A;
  font-size:xx-large;
  z-index: 999;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
