/* The sign up card */
.register {
  max-width: 500px;
  margin: auto;
}
.title {
  text-align: center;
}
.signUpForm {
  padding: 32px;
  display: flex;
  flex-direction: column;
}
.selection {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.submitButton {
  background-color: #4682b4;
  color: white;
  cursor: pointer;
  width: 100%;
}
.imageButton {
  background-color: #4682b4;
  color: white;
  cursor: pointer;
  width: fit-content;
  margin-top: 5px;
}
.loginLink {
  float: right;
  margin-top: 16px
}

.loginLink {
  float: right;
  margin-top: 16px
}
.location-search {
  display: flex;
  flex-direction: column;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
