<mat-toolbar>
    <link rel="stylesheet" href="user.component.css">
    <b style="text-align: center; margin-left: auto; margin-right: auto;">HOMIES</b>

  </mat-toolbar>



  <body style="background-color: #ffffff;">
   

            <img src="../../assets/defaultman.png" class="profile">

            <style>
              
                </style>

<div style="width: 50%;">
    <form action="/action_page.php">
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
  
        
      <label for="email">Email</label>
      <input type="text" id="email" name="email" placeholder="Your email id">
        
      <label for="address">Address</label>
      <input type="text" id="address" name="address" placeholder="Your address">
      
      <label for="password">Password</label>
      <input type="text" id="password" name="password" placeholder="********">

      <label for="Gender">Gender</label>
      <input type="text" id="gender" name="gender" placeholder="Your Gender">
      
  
      <label for="country">Country</label>
      <select id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>
    
      <input type="submit" value="Edit">
    </form>
  </div>

  </body>