<mat-toolbar>
    <link rel="stylesheet" href="user.component.css">
    <span>Hello User!!</span>
    <b style="text-align: center; margin-left: auto; margin-right: auto;">HOMIES</b>

  </mat-toolbar>

  <body style="background-color: #ffffff;">

            <img src="../../assets/defaultman.png" class="profile">

            <b style="text-align: center; margin-left: auto; margin-right: auto; justify-content: center;
            align-self: center;
            align-items: center;
            display: flex; ">Test User</b>

    
  </body>