<h1 class="title"> </h1>
<body>
    <ul class="topnav">
      <li><a class="active" href="Home.html">Home</a></li>
      <li><a href="profile">Profile</a></li>
      <li><a href="chat">Chat</a></li>
      <li><a href="">something</a></li>
      <li class="right" ><a href="About.html">About</a></li>
    </ul>
    <p>place holder text,
        <img src="defaultman.png" alt="default man" width="200" height="150"> 
        place holder text bottom
    </p>
        
    </body>
<router-outlet></router-outlet>