<h1 class="title"> </h1>
<body>
    <ul class="topnav">
      <li><a class="active" href="Home.html">Home</a></li>
      <li><a href="profile">Profile</a></li>
      <li><a href="chat">Chat</a></li>
      <li><a href="">something</a></li>
      <li class="right" ><a href="About.html">About</a></li>
    </ul>

    <div class = "userobjects" *ngFor="let user of allUserInfo">

      <img src="../../assets/defaultman.png" alt="default man" width="200" height="150"/>

      <p>{{user.Name}}</p>
      <p>{{user.Gender}}</p>
      <p>{{user.Age}}</p>
      <p>{{user.Occupation}}</p>
    </div>

  </body>
<router-outlet></router-outlet>
