img {
  background: #eaeaed;
  border: 1px solid #9799a7;
  margin: 8px 0 0 20px;
  padding: 4px;
  border-radius: 50px;
  width: 40%;
  height: 100%;
}
.alluserobjects{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.userobjects {
  width: 20%;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
  padding-top: 15px;
}
@media only screen and (max-width: 1500px) {
  user-card {
    max-width: 60%;;
  }
}
@media only screen and (max-width: 500px) {
  user-card {
    max-width: 80%;
  }
}
.subtext{
  padding-top: 5px;
  padding-bottom: 5px;
}
.user-card {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.425);
  box-shadow: 1px 1px 1px 0.5px rgba(0,0,0,0.35);
  color: rgb(223, 0, 0);
  background-color: #fafafa;
}

.user-card { transition: all .35s ease-in-out; }
.user-card:hover { transform: scale(1.1); }
